@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes wave-reverse {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-position-x: 0px;
  }
}

.animate-wave {
  animation: wave 4s linear infinite;
}

.animate-wave-reverse {
  animation: wave-reverse 4s linear infinite;
}